body {
    margin: 0px;
    font-family: "Inconsolata";
    background-color: rgb(160, 160, 231)
}

.compass {
    display: flex;
}

.headerleft {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
    background-color: aquamarine;
    border-right: 2px solid black;
}

#heading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    width: 15vw;
    margin-left: 1vw;
    background-color: rgb(65, 126, 106);
    border: 2px solid black;
}

#home,
#today,
#week,
#addProject {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4vh;
    width: 15vw;
    margin-left: 1vw;
    background-color: rgb(65, 126, 106);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 2vh;;
    font-size: 1.2em;

}

#home:hover,
#today:hover,
#week:hover,
#addProject:hover {
    transform: scale(1.1);
    font-weight: 700;
    cursor: pointer;
}

#projects {
    display: flex;
    flex-direction: column;
    position: relative;
}

#projectInfo {
    display: none;
    justify-content: flex-end;
    align-items: center;
    height: 3vh;
    width: 12vw;
    margin-left: 2.9vw;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-top: 0;
    font-size: 1.2em;
}

#projectName {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 9.5vw;
    height: 2vh;
    font-size: 0.7vw;
    letter-spacing: 1px;
}

#projectName:focus {
    border: none;
    outline: none;
}

#projectSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: aquamarine;
    border: 2px solid rgb(64, 124, 104);
    font-weight: 700;
    font-size: 1em;
    padding: 0em;
}

#projectSubmit:hover {
    background-color: rgb(99, 194, 162);
    border: 2px solid rgb(19, 36, 30);
    transform: scale(1.1);
}

#newProject {
    display: grid;
    justify-self: flex-end;
    grid-template-columns: 20% 20% 60%;
    height: 3vh;
    width: 14vw;
    margin-left: 1.4vw;
    margin-top: 1vh;
    row-gap: 10px;
}

#newProjectName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    background-color: burlywood;
    border: 2px solid rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(112, 29, 29);
    cursor:pointer;
}

#deleteProject,
#editProject {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 3vh;
    background-color: burlywood;
    border: 2px solid black;
    font-size: 0.6em;
    letter-spacing: 1px;
    z-index: -1;
    cursor:pointer;
}

#newProjectName:focus {
    border: 2px solid black;
    outline: 0px;
}

#newProjectName:hover,
#editProject:hover,
#deleteProject:hover {
    background-color: white;
    border: 2px solid black;
    transform: scale(1.05);
    font-weight: 700;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65vw;
    height: auto;
    margin-top: 8vw;
    position: relative;
}

#contentToday,
#contentWeek,
#contentProject {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#todayTitles {
    display: grid;
    grid-template-columns: 35vw 140px 75px 75px;
    grid-template-rows: 3vh auto;
    font-size: 1.5em;
    row-gap: 1vh;
}

#dueDate {
    grid-area: 1 / 2 / 1 / -1;
}

#thisDay,
#dueDate {
    border-bottom: 2px outset rgb(62, 62, 105);
}

#newInfo {
    display:flex;
    justify-self: center;
    width: 43vw;
    gap:1vw;
    margin-bottom: 5vh;
}

#taskName {
    width: 28vw;
    letter-spacing: 1px;
}

#date {
    width: 8vw;
}

#taskName,
#date {
    border: 1px solid rgb(62, 62, 105);
    border-radius: 5px;
}

#taskName:focus,
#date:focus {
    border: 2px outset aquamarine;
    outline: none;
}

#addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    border: 2px solid rgb(64, 124, 104);
    border-radius: 100px;
    font-size: 1.2em;
    font-weight: 700;
    align-items: center;
}

#addTask:hover {
    background-color: rgb(99, 194, 162);
    border: 2px solid rgb(19, 36, 30);
    transform: scale(1.2);
}

#domTask {
    background-color: rgb(160, 160, 231);
    border: none;
    border-radius: 10px;
    width: 33vw;
    font-size: 0.7em;
}

#domTask:focus {
    border: none;
    outline: none;
}

#domDate {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(62, 62, 105);
    border-radius: 10px;
    width: 135px;
    height: 25px;
}

#domEdit {
    margin-left: 1.5vw;
}

#domDelete {
    margin-left: 1vw;
}

#domEdit,
#domDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background-color: aquamarine;
    border: 2px solid rgb(64, 124, 104);
    border-radius: 100px;
    font-size: 0.6em;
    letter-spacing: 1px;
}

#domEdit:hover,
#domDelete:hover {
    background-color: rgb(99, 194, 162);
    border: 2px solid rgb(19, 36, 30);
    transform: scale(1.05);
    font-weight: 700;
}

/* /////////////////////////// */

